<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p><%= @copyright %></p>
    <p>
      New to my Portofolio site?
      <%= link_to "Visit the homepage", root_path %>
      or
      <%= link_to "Contact", contact_path %>
      Me
    </p>
  </div>
</footer>