<h1>About Me</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <!-- <img src="https://res.cloudinary.com/dmx0a3nqi/image/upload/v1560695906/Photo_on_13-05-2019_at_12.07_PM_2.jpg" width="100%" height="100%" alt="Profile Image" /> -->
    <%= image_tag "profile-image-2.png", width: 400, alt: "profile image" %>
  </div>
  <div class="col-md-6">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ea, numquam quo quos officia recusandae eaque
      ipsum cumque maiores neque placeat illo suscipit voluptas iusto eum. Tempore quis dolorum magnam!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ea, numquam quo quos officia recusandae eaque
      ipsum cumque maiores neque placeat illo suscipit voluptas iusto eum. Tempore quis dolorum magnam!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ea, numquam quo quos officia recusandae eaque
      ipsum cumque maiores neque placeat illo suscipit voluptas iusto eum. Tempore quis dolorum magnam!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ea, numquam quo quos officia recusandae eaque
      ipsum cumque maiores neque placeat illo suscipit voluptas iusto eum. Tempore quis dolorum magnam!
    </p>
  </div>
</div>
